# [CPSC 322]() Data Science Algorithms
[Gonzaga University](https://www.gonzaga.edu/) |
[Sophina Luitel](https://www.gonzaga.edu/school-of-engineering-applied-science/faculty/detail/sophina-luitel-phd-0dba6a9d)

---

# Data Preparation
What are our learning objectives for this lesson?
* Learn about the steps involved in data preprocessing
* Learn about different attribute types
  

Content used in this lesson is based upon information in the following sources:
* Dr. Gina Sprint's Data Science Algorithms notes


## Today
* Announcements
    * LA4 notecard/quiz on next class
    * PA2 is posted and is due on Tuesday 9/23.
    * Go over PA2

## Data Preparation

The goal of data preprocessing is to produce high-quality data to improve mining results and efficiency

At a high level, data preprocessing includes the following steps (these steps are done in any order and often multiple times):
1. Data Exploration (basic understanding of meaning, attributes, values, issues)
2. Data Reduction (reduce size via aggregation, redundant features, etc.)
3. Data Integration (merge/combine multiple datasets)
4. Data Cleaning (remove noise and inconsistencies)
5. Data Transformation (normalize/scale, etc.)

It is important for data mining that your process is transparent and repeatable:
* Can repeat "experiment" and get the same result
* No "magic" steps

It is important, however, to write down steps (log):
* Ideally, someone should be able to take your data, program, and description of steps, rerun everything, and get the same results!

## Data Exploration

Start by getting to know your dataset. Below are some of the most widely used and general-purpose steps for exploring data:

* Inspect structure           
* Check for missing/duplicate/invalid values
* Understand feature types    
* Explore distribution         
* Identify outliers            
* Examine feature relationships

## More on Attributes
Different aspects of attributes (variables)
* Data (storage) type - e.g., int versus float versus string
* Measurement scales - are values discrete or continuous
* Semantic type – what the values represent (e.g., colors, ages)

### Measurement Scales
1. Nominal
    * Discrete values without inherent order
    * E.g., colors (red, blue, green), identifiers, occupation, gender
    * Often ints or strings (but could be any data type)
2. Ordinal
    * Discrete values with inherent order
    * E.g., t-shirt size (s, m, l, xl), grades (A+, A-, B+, ...)
    * No guarantee that the difference between values is same
    * Often ints or strings (but could be any data type)
3. Interval
    * Values measured on a scale of equal-sized widths
    * Unlike ordinal, can compare and quantify difference between values
    * No inherent zero point (i.e., absence)
    * Temperature (Celsius, Fahrenheit) is an example
4. Ratio
    * Interval values with an inherent zero point
    * Temperature in Kelvin is an example
    * Also counts of things (where 0 means not present)
    
### Categorical vs Continuous
* Categorical roughly means the nominal and ordinal values
* Continuous roughly means the rest (interval, ratio) ... aka "numerical"
* For many algorithms/approaches, this is enough detail

### Labeled vs Unlabeled Data
* Labeled data implies an attribute that classifies instances (e.g., mpg)
    * Goal is typically to predict the class for new instances
    * This is called "Supervised Learning"
* Unlabeled means there isn't such an attribute (for mining purposes)
    * Can still find patterns, associations, etc.
    * Generally referred to as "Unsupervised Learning"

## Data Integration
Data integration is the process of combining data from multiple sources such as databases, files, APIs, or sensors into a single and consistent format. This makes it easier to analyze the data and use it in data science models or algorithms. It involves cleaning, matching, and aligning the data so everything fits together properly.

### Tabular Data
Our focus is “Tabular” Data Relational or Structured
* Data is organized into tables (rows and columns)

Age |Gender |Impressions |Clicks |SignedIn
-|-|-|-|-|
59 |1 |4 |0 |1
19 |0 |5 |0 |1
44 |1 |5 |0 |1
28 |1 |4 |0 |1
61 |1 |10 |1 |1
0 |0 |3 |1 |0

* Each row is an "instance"
    * "example", "record", or "object"
* Each column is an “attribute” (of the instance)
    * "variables" or "fields"
* A "dataset" is a (sample) set of instances
    * from the "universe of objects" (universe of instances)

This is a sample of (simulated) daily website click stream data (Example from "Doing Data Science", Schutt and O’Neil)
* Each row contains attribute values for one user
* User’s age, gender (0=female, 1=male), ads shown, ads clicked, and if
logged in (0=no, 1=yes)

### Keys
A "key" is one or more attributes that uniquely identifies each row (instance) in a table.


For example:

UserId |Age |Gender |Impressions |Clicks |SignedIn
-|-|-|-|-|-|
20 |59 |1 |4 |0 |1
15 |19 |0 |5 |0 |1
31 |44 |1 |5 |0 |1
71 |28 |1 |4 |0 |1
51 |61 |1 |10 |1 |1
60 |0 |0 |3 |1 |0

* here, each UserId value identifies the user

Q: What would be the key if the table does not have a UserId column?

* There is no explicit key. However, we can sometimes use a combination of columns (a composite key) to uniquely identify each row.
* If no combination works, we could create a new coulm (like a row id) to act as a key. 

### More on Keys: Multiple Attribute Keys (Composite Keys)
Composite key (from [GeeksforGeeks](https://www.geeksforgeeks.org/composite-key-in-sql/)): A composite key is made by the combination of two or more columns in a table that can be used to uniquely identify each row in the table when the columns are combined uniqueness of a row is guaranteed, but when it is taken individually it does not guarantee uniqueness, or it can also be understood as a primary key made by the combination of two or more attributes to uniquely identify every row in a table. 

CarName |ModelYear |MSRP
-|-|-
ford pinto |75 |2769
toyota corolla |75 |2711
ford pinto |76 |3025
toyota corolla |76 |2789
... |... |...

Q: What are the key attributes? ... A: {CarName, ModelYear}

Q: Why not just CarName? ... A: Values not unique across rows

### More on Keys: Foreign Keys
A "Foreign Key" is a reference to instances, typically to instances in another table (but could be to the same table)

For example:

SaleId |EmployeeId |CarName |ModelYear |Amt
-|-|-|-|-
555 |12 |ford pinto |75 |3076
556 |12 |toyota corolla |75 |2611
998 |13 |toyota corolla |75 |2800
999 |12 |toyota corolla |76 |2989
... |... |... |... |...

Q: What is the key?
* {SaleId}

Q: What are the foreign keys (references)?
* {EmployeeId} for information about the salesperson
* {CarName, ModelYear}

### Joins

We can **join** (combine) two tables based on common attributes, typically keys or foreign keys to integrate related data into a unified view.

### Join Types

- **Inner Join**: Returns only the rows with matching values in both tables.
- **Left Outer Join**: Returns all rows from the left table, and matched rows from the right. Missing values from the right become `NA`.
- **Right Outer Join**: Returns all rows from the right table, and matched rows from the left. Missing values from the left become `NA`.
- **Full Outer Join**: Returns all rows from both tables. If there''s no match, `NA` is used to fill missing fields.

![](https://raw.githubusercontent.com/DataScienceAlgorithms/M3_DataAnalysis/main/figures/join.png)


Image credit: [W3Schools SQL Join](https://www.w3schools.com/sql/sql_join.asp)

---

#### Example Tables

**Sales Table**

| SaleId | EmployeeId | CarName         | ModelYear | Amt  |
|--------|------------|------------------|-----------|------|
| 555    | 12         | ford pinto       | 75        | 3076 |
| 556    | 12         | toyota corolla   | 75        | 2611 |
| 998    | 13         | toyota corolla   | 75        | 2800 |
| 999    | 12         | toyota corolla   | 76        | 2989 |
| ...    | ...        | ...              | ...       | ...  |

**MSRP Table**

| CarName        | ModelYear | MSRP |
|----------------|-----------|------|
| ford pinto     | 75        | 2769 |
| toyota corolla | 75        | 2711 |
| ford pinto     | 76        | 3025 |
| toyota corolla | 77        | 2789 |
| ...            | ...       | ...  |

---



### Inner Join Result

| SaleId | EmployeeId | CarName         | ModelYear | Amt  | MSRP |
|--------|------------|------------------|-----------|------|------|
| 555    | 12         | ford pinto       | 75        | 3076 | 2769 |
| 556    | 12         | toyota corolla   | 75        | 2611 | 2711 |
| 998    | 13         | toyota corolla   | 75        | 2800 | 2711 |

---

### Full Outer Join Result

| SaleId | EmployeeId | CarName         | ModelYear | Amt   | MSRP |
|--------|------------|------------------|-----------|-------|------|
| 555    | 12         | ford pinto       | 75        | 3076  | 2769 |
| 556    | 12         | toyota corolla   | 75        | 2611  | 2711 |
| 998    | 13         | toyota corolla   | 75        | 2800  | 2711 |
| 999    | 12         | toyota corolla   | 76        | 2989  | NA   |
| NA     | NA         | ford pinto       | 76        | NA    | 3025 |
| NA     | NA         | toyota corolla   | 77        | NA    | 2789 |

>  **left outer join** = inner join + unmatched left rows  
>  **right outer join** = inner join + unmatched right rows

---

Q: How would we join these two tables?

MPG |Cyls |Displacement | Hrspwr | Wght| Accel |ModelYear| Origin |CarName
-|-|-|-|-|-|-|-|-
23.0 | 4 | 140.0 | 83.0 | 2639 | 17.0 | 75 | 1 | ford pinto
29.0 | 4 | 97.0 | 75.0 | 2171 | 16.0 | 75 | 3 | toyota corolla
... |... |... |... |... |... |... |... |...

CarName|ModelYear |MSRP
-|-|-
ford pinto |75 |2769
toyota corolla |75 |2711
... |... |...

* Join both on the composite key {CarName, ModelYear}


### Join Practice Problem

**Task:** Perform both an **inner join** and a **full outer join** on the following tables using the composite key `{CarName, ModelYear}`

**Sales Table**

| ModelYear | EmployeeId | SaleId | CarName         | Amt   |
|-----------|------------|--------|------------------|--------|
| 75.0      | 12.0       | 555.0  | ford pinto       | 3076.0 |
| 79.0      | 12.0       | 556.0  | toyota truck     | 2989.0 |
| 75.0      | 12.0       | 557.0  | toyota corolla   | 2611.0 |
| 75.0      | 13.0       | 996.0  | toyota corolla   | 2800.0 |
| 76.0      | 12.0       | 997.0  | toyota corolla   | 2989.0 |
| 74.0      | 12.0       | 998.0  | ford pinto       | 2989.0 |
| 77.0      | 12.0       | 999.0  | ford mustang     | 2989.0 |

**MSRP Table**

| CarName        | MSRP  | ModelYear |
|----------------|--------|-----------|
| honda accord   | 2789.0 | 75.0      |
| ford pinto     | 2769.0 | 75.0      |
| toyota corolla | 2711.0 | 75.0      |
| ford pinto     | 3025.0 | 76.0      |
| toyota corolla | 2789.0 | 77.0      |
| range rover    | 3333.0 | 70.0      |
| ford pinto     | 2567.0 | 73.0      |
| toyota corolla | 2999.0 | 75.0      |



---

<!-- Optional solutions (commented out)

### Inner Join Solution

| ModelYear | EmployeeId | SaleId | CarName        | Amt   | MSRP  |
|-----------|------------|--------|----------------|--------|--------|
| 75.0      | 12.0       | 555.0  | ford pinto     | 3076.0 | 2769.0 |
| 75.0      | 12.0       | 557.0  | toyota corolla | 2611.0 | 2711.0 |
| 75.0      | 12.0       | 557.0  | toyota corolla | 2611.0 | 2999.0 |
| 75.0      | 13.0       | 996.0  | toyota corolla | 2800.0 | 2711.0 |
| 75.0      | 13.0       | 996.0  | toyota corolla | 2800.0 | 2999.0 |

### Full Outer Join Solution

| ModelYear | EmployeeId | SaleId | CarName        | Amt   | MSRP  |
|-----------|------------|--------|----------------|--------|--------|
| 75.0      | 12.0       | 555.0  | ford pinto     | 3076.0 | 2769.0 |
| 79.0      | 12.0       | 556.0  | toyota truck   | 2989.0 | NA     |
| 75.0      | 12.0       | 557.0  | toyota corolla | 2611.0 | 2711.0 |
| 75.0      | 12.0       | 557.0  | toyota corolla | 2611.0 | 2999.0 |
| 75.0      | 13.0       | 996.0  | toyota corolla | 2800.0 | 2711.0 |
| 75.0      | 13.0       | 996.0  | toyota corolla | 2800.0 | 2999.0 |
| 76.0      | 12.0       | 997.0  | toyota corolla | 2989.0 | NA     |
| 74.0      | 12.0       | 998.0  | ford pinto     | 2989.0 | NA     |
| 77.0      | 12.0       | 999.0  | ford mustang   | 2989.0 | NA     |
| 75.0      | NA         | NA     | honda accord   | NA     | 2789.0 |
| 76.0      | NA         | NA     | ford pinto     | NA     | 3025.0 |
| 77.0      | NA         | NA     | toyota corolla | NA     | 2789.0 |
| 70.0      | NA         | NA     | range rover    | NA     | 3333.0 |
| 73.0      | NA         | NA     | ford pinto     | NA     | 2567.0 |

-->